<div class="modal fade" id="modal_login">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
        <div class="row">
          <div class="col-12">
            <h5 class="w-100 text-center color-gray">Iniciar sesión</h5>
          </div>
          <div class="col-12">
            <label>Ingresa tu usuario*:</label>
            <input type="text" class="form-control" id="usuarioLogin" />
          </div>
          <div class="col-12">
            <div class="alert alert-danger" id="errorLogin"></div>
          </div>
        </div>
      </div>
      <div class="modal-footer justify-content-between">
        <button
          type="button"
          class="btn btn-outline-secondary"
          data-bs-dismiss="modal"
        >
          Cancelar
        </button>
        <button id="btnLogin" class="btn btn-success">Aceptar</button>
      </div>
    </div>
  </div>
</div>
</div>
