body {
  background-image: url("../images/fondo.webp");
  background-size: cover;
}

.oculto {
  display: none;
}

.inputCheckBoxs {
  height: 30px;
  width: 30px;
}

.navbar a.navbar-brand {
  color: black;
}

.navbar li a {
  color: black;
}
