{% extends 'layouts/app.html' %} {% block css %}
<style>
  .titulo_seccion {
    font-weight: bold;
  }
  #video {
    width: 100%; /* Ajusta el tamaño según sea necesario */
    height: auto; /* Mantiene la proporción del video */
  }

  #snapshot_registro {
    width: 100%;
  }
  #modal_success .modal-content {
    background-color: rgb(0, 196, 75);
    color: white;
  }

  #txtUsuario {
    font-weight: bold;
  }

  .card-dark .card-body {
    background-color: rgb(46, 42, 42);
    color: white;
  }

  .cont1 {
    background-color: rgb(51, 51, 53);
  }
  .cont2 {
    position: relative;
    background-color: rgb(21, 92, 114);
  }

  #txtTiempoRestante {
    background-color: black;
    padding: 20px;
    border-radius: 50%;
    font-weight: bold;
    font-size: 1.2em;
    width: 70px;
    height: 70px;
    margin: auto;
  }

  #contenedorNroPaso {
    background: black;
    padding: 10px;
    font-weight: bold;
    font-size: 1.3em;
  }

  .txtEmocionActual {
    font-weight: bold;
  }
  .txtDedosActual {
    font-weight: bold;
  }

  #contenedorDeteccionEmocionesDedos {
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.66);
  }
</style>
{% endblock %} {% block content %}
<div class="row mt-3">
  <div class="col-12">
    <div class="card card-dark">
      <div class="card-body">
        <div class="row">
          <div class="col-12">
            <h4 class="w-100 text-center">
              Autenticación para transacciones digitales en Telecomunicaciones
            </h4>
          </div>
          <div class="col-12 text-center">
            <button class="btn btn-primary" id="iniciaAuthenticacion">
              Iniciar Autenticación
            </button>
            <a
              href="#"
              id="btnRegistrarse"
              data-bs-toggle="modal"
              data-bs-target="#modal_registro"
              class="btn btn-outline-primary"
              >Registrarse</a
            >
          </div>
        </div>
        <div class="row mt-4" id="contenedorLoginFacial">
          <div class="col-md-4 mx-auto">
            <div class="verificandoUsuario">
              Verificando al usuario: <span id="txtUsuario"></span>
            </div>
            <img id="videoFacial" src="" style="width: 100%" height="auto" />
            <div class="alert" id="txtVerificar"></div>
          </div>
        </div>
        <div class="row mt-4" id="contenedor_autenticacion">
          <div class="col-md-4 text-center cont1">
            <div class="titulo_seccion">Tiempo restante</div>
            <div id="txtTiempoRestante"></div>
          </div>
          <div class="col-md-4 text-center cont2">
            <span class="titulo_seccion">Cámara</span>
            <img id="video" src="" style="width: 100%; height: auto" />
            <div id="contenedorDeteccionEmocionesDedos">
              <div id="txtEmocionActual"></div>
              <div id="txtDedosActual"></div>
            </div>
            <div class="row">
              <div class="col-12">
                <span id="txtInfoUsuarioPasos"></span>
              </div>
            </div>
          </div>
          <div class="col-md-4 text-center cont1">
            <div class="contenedorNroPaso"><span id="txtNroPaso"></span>/2</div>
            <div class="titulo_seccion">
              Por favor realice el siguiente gesto:
            </div>
            <div id="txtGesto"></div>
            <div class="titulo_seccion">
              Muestre el siguiente número con la mano:
            </div>
            <div id="nroDedos"></div>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-12">
            <div class="alert" id="mensajeEmociones"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% include 'modal/registro.html' %} {% include 'modal/login.html' %} {% endblock
%} {% block scripts %}
<script>
  // LOGIN
  const txtVerificar = document.getElementById("txtVerificar");
  const txtInfoUsuarioPasos = document.getElementById("txtInfoUsuarioPasos");
  const mensajeEmociones = document.getElementById("mensajeEmociones");
  const txtGesto = document.getElementById("txtGesto");
  let tiempoPrueba = 60;
  const txtTiempoRestante = document.getElementById("txtTiempoRestante");
  let nroPaso = 1;
  const txtNroPaso = document.getElementById("txtNroPaso");
  let intervalTiempoRestante = null;
  const nroDedos = document.getElementById("nroDedos");
  const txtEmocionActual = document.getElementById("txtEmocionActual");
  const txtDedosActual = document.getElementById("txtDedosActual");
  let emocion_detectar = "";
  let dedos_detectar = 0;
  let emocion_actual = null;
  let dedos_actual = null;
  let login = false;
  let usuario_logeado = null;
  let usuarioLogin = document.getElementById("usuarioLogin");
  let btnLogin = document.getElementById("btnLogin");
  const txtUsuario = document.getElementById("txtUsuario");
  const modal_login = bootstrap.Modal.getOrCreateInstance(
    document.getElementById("modal_login")
  );
  const videoFacial = document.getElementById("videoFacial");
  let errorLogin = document.getElementById("errorLogin");
  errorLogin.parentNode.classList.add("oculto");
  const iniciaAuthenticacion = document.getElementById("iniciaAuthenticacion");

  const contenedorLoginFacial = document.getElementById(
    "contenedorLoginFacial"
  );
  const contenedor_autenticacion = document.getElementById(
    "contenedor_autenticacion"
  );

  contenedorLoginFacial.classList.add("oculto");
  contenedor_autenticacion.classList.add("oculto");

  iniciaAuthenticacion.addEventListener("click", () => {
    modal_login.show();
  });

  btnLogin.addEventListener("click", () => {
    mensajeEmociones.closest(".row").classList.add("oculto");
    fetch("/verifica_usuario", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify({ usuario: usuarioLogin.value }),
    })
      .then((response) => response.json())
      .then((data) => {
        if (typeof data.error != "undefined" || !data.existe) {
          errorLogin.parentNode.classList.remove("oculto");
          if (typeof data.error != "undefined") {
            errorLogin.innerHTML = data.error;
          } else {
            errorLogin.innerHTML = data.mensaje;
          }
        } else {
          usuario_logeado = data.usuario;
          txtUsuario.innerText = usuario_logeado.usuario;
          contenedorLoginFacial.classList.remove("oculto");
          usuarioLogin.value = "";
          modal_login.hide();
          login = true;
          isVideoActive = true;
          stop_camera();
          toggleVideo();
          ocultaValidaciones();
          iniciaLoginFacial();
        }
      })
      .catch((error) => console.error("Error:", error));
  });

  const iniciaLoginFacial = () => {};
  const ocultaValidaciones = () => {};
  const iniciaValidaciones = () => {};

  var interval_respuestas_emociones = null;
  var interval_respuestas_facial = null;
  const iniciaDeteccion = () => {
    document.getElementById("videoFacial").src = "";
    document.getElementById("video").src = "";
    if (login) {
      document.getElementById("videoFacial").src =
        "{{ url_for('video_feed') }}"; // Reactivar facial
      interval_respuestas_facial = setInterval(() => {
        txtVerificar.innerText = "Reconociendo...";
        enviaRostroLogin();
      }, 4000);
    } else {
      iniciaReconocimientoEmociones();
    }
  };

  // generar pasos
  const generaPaso = () => {
    txtNroPaso.innerText = nroPaso;
    const emociones = ["Enojado", "Feliz", "Asombrado", "Triste"];
    let anterior_emocion = emocion_detectar;
    let anterior_dedos = dedos_detectar;
    do {
      // Generar una emoción aleatoria
      emocion_detectar =
        emociones[Math.floor(Math.random() * emociones.length)];
      // Generar un número aleatorio del 1 al 5
      dedos_detectar = Math.floor(Math.random() * 5) + 1;
    } while (
      anterior_emocion === emocion_detectar ||
      anterior_dedos === dedos_detectar
    );
    txtGesto.innerHTML = emocion_detectar;
    nroDedos.innerHTML = dedos_detectar;
  };

  // tiempo de prueba reconocimiento
  const iniciaConteoTiempo = () => {
    txtTiempoRestante.innerText = tiempoPrueba;
    intervalTiempoRestante = setInterval(() => {
      tiempoPrueba--;
      if (tiempoPrueba < 1) {
        txtTiempoRestante.innerText = tiempoPrueba;
        // terminar la prueba
        terminaPrueba();
      }
      txtTiempoRestante.innerText = tiempoPrueba;
    }, 1000);
  };

  const terminaPrueba = () => {
    mensajeEmociones.closest(".row").classList.remove("oculto");
    clearInterval(intervalTiempoRestante);
    clearInterval(interval_respuestas_emociones);
    clearInterval(interval_respuestas_facial);
    document.getElementById("videoFacial").src = ""; // Desactivar imagen
    document.getElementById("video").src = ""; // Desactivar imagen
    contenedor_autenticacion.classList.add("oculto");
    mensajeEmociones.classList.remove("alert-danger");
    mensajeEmociones.classList.remove("alert-success");
    if (nroPaso < 3) {
      mensajeEmociones.classList.add("alert-danger");
      usuario_logeado = null;
      login = false;
      mensajeEmociones.innerText = "Fallo la autenticación intente nuevamente";
    } else {
      mensajeEmociones.classList.add("alert-success");
      mensajeEmociones.innerText = "Usuario verificado correctamente";
    }
    nroPaso = 1;
    dedos_detectar = 0;
    emocion_detectar = "";
    tiempoPrueba = 60;
  };

  const iniciaReconocimientoEmociones = () => {
    generaPaso();
    iniciaConteoTiempo();
    txtInfoUsuarioPasos.innerHTML = `Usuario: <b>${usuario_logeado.usuario}</b>`;
    contenedorLoginFacial.classList.add("oculto");
    document.getElementById("videoFacial").src = ""; // Desactivar imagen
    contenedor_autenticacion.classList.remove("oculto");
    document.getElementById("video").src = "{{ url_for('video_feed') }}"; // Reactivar emociones
    interval_respuestas_emociones = setInterval(async () => {
      const response = await fetch("/emotion");
      const data = await response.json();
      emocion_actual = data.emotion;
      dedos_actual = data.dedos;
      console.log("Emocion Actual:" + emocion_actual);
      console.log("Emocion detectar:" + emocion_detectar);

      console.log("Dedos Actual:" + dedos_actual);
      console.log("Dedos detectar:" + dedos_detectar);
      console.log("---------------------------");
      txtEmocionActual.innerText = `${emocion_actual}`;
      txtDedosActual.innerText = `${
        dedos_actual != "_" ? dedos_actual : 0
      } dedo(s)`;
      if (
        emocion_actual == emocion_detectar &&
        dedos_actual == dedos_detectar
      ) {
        nroPaso++;
        if (nroPaso > 2) {
          // sesion correcta
          setTimeout(() => {
            terminaPrueba();
          }, 1500);
        }
        txtNroPaso.innerText = nroPaso;
        generaPaso();
      }
    }, 1000);
  };

  const enviaRostroLogin = async () => {
    try {
      const response = await fetch(
        `/login_facial?usuario=${encodeURIComponent(usuario_logeado.usuario)}`
      );
      const data = await response.json();
      txtVerificar.classList.remove("alert-success");
      txtVerificar.classList.remove("alert-danger");
      if (data.existe) {
        txtVerificar.classList.add("alert-success");
        txtVerificar.innerText = "Verificación correcta";
        clearInterval(interval_respuestas_facial);
        setTimeout(() => {
          iniciaReconocimientoEmociones();
        }, 1000);
      } else {
        txtVerificar.classList.add("alert-danger");
        txtVerificar.innerText = "Usuario invalido";
      }
    } catch (error) {
      console.error("Error en el envío de rostro:", error);
    } finally {
      // Reprograma la función para ejecutarse después de 4 segundos
    }
  };
  addEventListener("DOMContentLoaded", (event) => {
    toggleVideo();
  });

  // REGISTRO
  var isVideoActive = false;
  let valida_img = false;
  let error_registro = document.getElementById("errorRegistro");
  error_registro.parentNode.classList.add("oculto");
  let modal_registro = bootstrap.Modal.getOrCreateInstance(
    document.getElementById("modal_registro")
  );
  let modal_success = bootstrap.Modal.getOrCreateInstance(
    document.getElementById("modal_success")
  );

  const btnRegistrarse = document.getElementById("btnRegistrarse");

  btnRegistrarse.addEventListener("click", (e) => {
    e.preventDefault();
    isVideoActive = false;
    toggleVideo(true);
  });

  // Acceder a la cámara del usuario
  const video_registro = document.getElementById("video_registro");
  const canvas_registro = document.getElementById("canvas_registro");
  const snapshot_registro = document.getElementById("snapshot_registro");
  const captureButton = document.getElementById("capture_registro");
  const registerButton = document.getElementById("register");

  // Obtener acceso a la cámara
  const initCamaraRegistro = () => {
    stream_camara = navigator.mediaDevices
      .getUserMedia({ video: true })
      .then((stream) => {
        video_registro.srcObject = stream;
      })
      .catch((err) => {
        console.error("Error al acceder a la cámara: ", err);
      });
  };

  // Capturar la imagen al hacer clic en el botón
  captureButton.addEventListener("click", () => {
    const context = canvas_registro.getContext("2d");

    // Dibuja el video en el canvas manteniendo la relación de aspecto
    const videoWidth = video_registro.videoWidth;
    const videoHeight = video_registro.videoHeight;

    // Ajustar el canvas a la relación de aspecto del video
    canvas_registro.width = videoWidth;
    canvas_registro.height = videoHeight;

    context.drawImage(
      video_registro,
      0,
      0,
      canvas_registro.width,
      canvas_registro.height
    );
    const dataUrl = canvas_registro.toDataURL("image/jpeg", 0.9);
    snapshot_registro.src = dataUrl;
    snapshot_registro.style.display = "block"; // Mostrar la imagen capturada
    valida_img = true;
  });

  // Enviar la captura y el usuario al servidor
  registerButton.addEventListener("click", () => {
    registerButton.disabled = true;
    const usuario = document.getElementById("usuario").value;
    const imageData = canvas_registro.toDataURL("image/jpeg", 0.9);
    if (valida_img && usuario.trim() != "") {
      error_registro.parentNode.classList.add("oculto");
      // Enviar la imagen y el nombre de usuario al servidor
      fetch("/registrar", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify({
          usuario: usuario,
          imagen: imageData,
        }),
      })
        .then((response) => response.json())
        .then((data) => {
          if (data.error) {
            error_registro.parentNode.classList.remove("oculto");
            error_registro.innerHTML = data.error;
          } else {
            modal_registro.hide();
            modal_success.show();
            setTimeout(() => {
              modal_success.hide();
            }, 800);
            // Manejar la respuesta del servidor
          }
          registerButton.disabled = false;
        })
        .catch((error) => {
          registerButton.disabled = false;
          console.error("Error:", error);
        });
    } else {
      registerButton.disabled = false;
      error_registro.parentNode.classList.remove("oculto");
      error_registro.innerHTML = "Debes ingresar el usuario y tomar la captura";
    }
  });

  const stop_camera = () => {
    const mediaStream = video_registro.srcObject;
    if (mediaStream) {
      const tracks = mediaStream.getTracks();
      tracks[0].stop();
      tracks.forEach((track) => track.stop());
    }
  };

  // Iniciar la cámara
  function toggleVideo(registro = false) {
    fetch("/toggle_video", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify({ active: isVideoActive }),
    })
      .then((response) => response.json())
      .then((data) => {
        if (!isVideoActive) {
          document.getElementById("videoFacial").src = ""; // Desactivar imagen
          document.getElementById("video").src = ""; // Desactivar imagen
          clearInterval(interval_respuestas_emociones);
          clearInterval(interval_respuestas_facial);
          if (registro) {
            initCamaraRegistro();
          }
        } else {
          txtVerificar.innerText = "Espere...";
          iniciaDeteccion();
        }
      })
      .catch((error) => console.error("Error:", error));
  }
</script>
{% endblock %}
